{% extends "home_admin.html" %}
{% block admincontent %}
<br>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Test Name</th>
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Start</th>
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">End</th>
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Status</th>
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Test User</th>
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Mouse Clicks</th>
                <th scope="col" style="font-size: 1.4rem; font-family: Verdana, Geneva, Tahoma, sans-serif;">Results</th>
            </tr>
        </thead>
        <tbody>
            <script type="text/javascript">
                function viewResult(id){
                    console.log(id);
                    window.location.href=`/admin/view_test/?id=${id}`;
                   // window.open('/admin/view_test/?id=${id}','_blank').focus();
                }
            </script>
            {% for event in events %}
            <tr class="table-success">
                <td>{{ event['test_name'] }}</td>
                <td>{{ event['start'] }}</td>
                <td>{{ event['end'] }}</td>
                <td>{{ event['status'] }}</td>
                <td>{{ event['user']['firstname'] }} {{ event['user']['lastname'] }}</td>
                <td>{{ event['mouse_clicks'] }}</td>
                <td><input id="resultRedirect" class="btn btn-primary" onclick="viewResult({{ event['id']}})" type="button" value="view results"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}