{% extends "dashboard_admin.html" %}
{% block admincontent %}
<div class="container">
    <table>
        <thead>
            <tr>
                <th>Test name</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Mouse clicks</th>
                <th>Heat map</th>
                <th>URL</th>
            </tr>
        </thead>
        {% for event in events %}
        <tr>
            <td>{{ event['test_name'] }}</td>
            <td>{{ event['start'] }}</td>
            <td>{{ event['end'] }}</td>
            <td>{{ event['status'] }}</td>
            <td>{{ event['mouse_clicks'] }}</td>
            <td>{{ event['heat_map'] }}</td>
            <td><a href="{{ event['event_url'] }}">link</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}